.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Cabinet Grotesk Medium", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px;
  gap: 8px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  max-height: 100%;
  object-fit: cover;
}

.card__like {
  width: 18px;
  height: 15px;
  background-image: url(../../assets/like.svg);
  border: none;
  top: 20px;
  right: 80px;
  position: absolute;
  background-size: cover;
  background-color: transparent;
}

.card__like.card__like_active {
  background-image: url(../../assets/like-active.svg);
}
